*{
    list-style: none;
    text-decoration: none;
    margin: 0em;
    color: black;
    font-family: "Rajdhani",Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1PX;
}

.barra-navegacion{
    height: 105px;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0em;
    line-height: 105px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.logo{
    width: 15em;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(/images/Mi-logo.jpg);
    position: relative;
    top: 1.5em
}

li{
    float: left;
}

nav > ul > li:nth-child(2){
    padding-left: 10%;
}

li>a{
    padding: 0 20px 0 20px;
}

ul > li:last-child{
    float: right;
}

.redes-box{
    float: right;
    height: 105px;
    width: 20em;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 100%;
    color: white;
    text-align: center;
}

.redes-box>a{
    color: white;
}


