*{
    --color_principal: rgb(177, 0, 0);
}

main{
    height: 100em;
    width: 100%;
    position: relative;
    top: 5em;
}

.contenedor-principal{
    position: relative;
    top: 5em;
    left: 15%;
    width: 60%;
    height: 30em;
    border: 3px  solid black;
    border-radius: 2em;
    -webkit-box-shadow: 8px 7px 17px -6px rgba(0,0,0,0.66); 
box-shadow: 8px 7px 17px -6px rgba(0,0,0,0.66);
}

.texto > h1{
    font-size: 2.8em;
    color: var(--color_principal);
}

.texto{
    width: 70%;
    height: 25em;
    position: relative;
    top: 2em;
    left: 2em;
}

.foto{
    width: 20em;
    height: 20em;
    position: absolute;
    top: 8em;
    left: 80%;
    border: 3px solid black;
    border-radius: 2em;
    background-image: url(/images/FB_IMG_1626108032431.jpg);
    background-size: contain;
    -webkit-box-shadow: 8px 7px 17px -6px rgba(0,0,0,0.66); 
    box-shadow: 8px 7px 17px -6px rgba(0,0,0,0.66);
}

.contenedor-experiencia{
    position: relative;
    top: 15em;
    left: 10%;
    width: 80%;
    height: 30em;
    background-color: white;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(19, 5.2631%);
    grid-template-rows: repeat(10, 10%);
}

[class ^= "cuadro"]{
    width: 100%;
    height: 100%;
    background-color: var(--color_principal);
    -webkit-box-shadow: 8px 7px 17px -6px rgba(0,0,0,0.66); 
    box-shadow: 8px 7px 17px -6px rgba(0,0,0,0.66);
    border-radius: 1em;
}

[class ^= "cuadro"] > div >  h1{
    color: var(--color_principal);
}

[class ^= "cuadro"] > p{
    margin: 0em 1em 0em 1em;
    text-align: justify;
    color: white;
}

.contenedor-experiencia > h1{
    font-size: 2.8em;
    color: var(--color_principal);
    grid-column: 8/13;
    grid-row: 0/2;
    display: block;
}

.cuadro-1{
    grid-column:  2/7;
    grid-row: 4/10;
}

.cuadro-2{
    grid-column:  8/13;
    grid-row: 4/10;
}

.cuadro-3{
    grid-column:  14/19;
    grid-row: 4/10;
}

.titulo-card{
    height: 10%;
    width: 60%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 1em;
    right: 1em;
    border: 2px solid black;
    border-radius: 1em;
}